<!-- <div class="container">
            
  <nav class="nav" style="">
         
      <div class="nav__title" style=""><b class="name primary-font background-primary" style=""><span class="bracket" style=""> &lt; </span> Suraj Kumar <span class="bracket" style="">/&gt; </span></b></div>
      <ul class="nav__list">
          <li class="nav__item menu"><img class="menu " id="menu-trigger" alt="menu" src="images/24px.svg"></li>
          
          
      </ul>
  </nav>
</div> -->
<div class="container">
  <nav class="nav row sm-p-4">
    <span class="logo">SURAJ'S ENGINNERING CAFE</span>
    <img height="24px"  width="24px" src="assets/images/apps.svg">

  </nav>
    
</div>