<link rel="stylesheet" href="/post-card.css" />

<div class="container post-card ">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <img class="image" src="assets/images/x.webp"/>
        </div>
        <div class="col-lg-8 col-sm-12">
            <h3>Dockerizing Your Angular app like a pro</h3>
            <br>
            <p class="summary">We are excited to announce the release of Angular v14! From typed forms and standalone components to new primitives in the Angular CDK (component dev kit), we’re excited to share how each feature makes Angular more powerful.</p>
            <!-- <br> -->
            <a class="read-more font-s">Read more</a>
        </div>
    </div>
</div>

<div class="container post-card ">
    <div class="row">
        <div class="col-lg-4">
            <img class="image" src="assets/images/x.webp"/>
        </div>
        <div class="col-lg-8">
            <h3>Dockerizing Your Angular app like a pro</h3>
            <p class="summary">We are excited to announce the release of Angular v14! From typed forms and standalone components to new primitives in the Angular CDK (component dev kit), we’re excited to share how each feature makes Angular more powerful.</p>
            <a class="read-more font-s">Read more</a>
        </div>
    </div>
</div>
<div class="container post-card">
    <div class="row">
        <div class="col-lg-4">
            <img class="image" src="assets/images/x.webp"/>
        </div>
        <div class="col-lg-8">
            <h3>Dockerizing Your Angular app like a pro</h3>
            <p class="summary">We are excited to announce the release of Angular v14! From typed forms and standalone components to new primitives in the Angular CDK (component dev kit), we’re excited to share how each feature makes Angular more powerful.</p>
            <a class="read-more font-s">Read more</a>
        </div>
    </div>
</div>
<div class="container post-card">
    <div class="row">
        <div class="col-lg-4">
            <img class="image" src="assets/images/x.webp"/>
        </div>
        <div class="col-lg-8">
            <h3>Dockerizing Your Angular app like a pro</h3>
            <p class="summary">We are excited to announce the release of Angular v14! From typed forms and standalone components to new primitives in the Angular CDK (component dev kit), we’re excited to share how each feature makes Angular more powerful.</p>
            <a class="read-more font-s">Read more</a>
        </div>
    </div>
</div>
