// @import url('');

body {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-image: url('assets/images/world-map.png');
}

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap')
}
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&amp;display=swap');
}

.font-p {
    font-family: 'Poppins', sans-serif;
}
.font-s {
    font-family: 'Roboto', sans-serif;
}

;



.secondary-font {
    font-family: 'MyWebFont';
}

;

.background-primary {
    background-color: #00D19D;
}

.background-secondary {
    background-color: #E5FAF4;
}

.text-primary {
    color: black;
}

.opac {
    opacity: 0.8;
}


/*=================================================================*/
/*                      TYPOGRAPHY                              
/*=================================================================*/
h1, h2, h3, h4, h5, h6 {
    color: #203656;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.4;
    margin: 20px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 
	
  }
  .heading{
  /* Font & Text */
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 50.4px;
	text-decoration: none solid rgb(32, 54, 86);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(32, 54, 86);


	
  }
//   p{
//     color: #8F9BAD;
//     background-color: #fff;
//     font-family: "Roboto", sans-serif;
//     font-size: 15px;
//     line-height: 1.7;
//     overflow-x: hidden;
//     -webkit-font-smoothing: antialiased;
//   }
  
  // a {
  //   color: #FE4F70;
  //   outline: 0;
  //   text-decoration: none;
  //   -webkit-transition: all 0.2s ease-in-out;
  //   -moz-transition: all 0.2s ease-in-out;
  //   transition: all 0.2s ease-in-out;
  // }
  a:hover {
    color: #203656;
  }
  a:focus {
    outline: 0;
  }
  
  .blockquote {
    font-size: 18px;
  }
  
  blockquote {
    padding: 20px 20px;
    margin: 0 0 20px;
    background: #fff8fa;
    border-left: solid 3px #FE4F70;
    border-radius: 5px;
  }
  
  blockquote p {
    line-height: 1.6;
  }
  
  .blockquote-footer {
    margin-top: 0;
  }
  
  .table {
    color: #707a88;
  }
  

 