// @import url('');

body {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  background-image: url('/images/world-map.png');
}

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap')
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&amp;display=swap');
}

.font-p {
  font-family: 'Poppins', sans-serif;
}

.font-s {
  font-family: 'Roboto', sans-serif;
}

;



.secondary-font {
  font-family: 'MyWebFont';
}

;

.background-primary {
  background-color: #00D19D;
}

.background-secondary {
  background-color: #E5FAF4;
}

.text-primary {
  color: black;
}

.opac {
  opacity: 0.8;
}


/*=================================================================*/
/*                      TYPOGRAPHY                              
/*=================================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #203656;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  margin: 20px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

.heading {
  /* Font & Text */
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 50.4px;
  text-decoration: none solid rgb(32, 54, 86);
  text-align: start;
  text-indent: 0px;
  text-transform: none;
  vertical-align: baseline;
  white-space: normal;
  word-spacing: 0px;

  /* Color & Background */
  background-attachment: scroll;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  color: rgb(32, 54, 86);



}

//   p{
//     color: #8F9BAD;
//     background-color: #fff;
//     font-family: "Roboto", sans-serif;
//     font-size: 15px;
//     line-height: 1.7;
//     overflow-x: hidden;
//     -webkit-font-smoothing: antialiased;
//   }

// a {
//   color: #FE4F70;
//   outline: 0;
//   text-decoration: none;
//   -webkit-transition: all 0.2s ease-in-out;
//   -moz-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
// }
a:hover {
  color: #203656;
}

a:focus {
  outline: 0;
}

.blockquote {
  font-size: 18px;
}

// blockquote {
//   padding: 20px 20px;
//   margin: 0 0 20px;
//   background: #fff8fa;
//   border-left: solid 3px #FE4F70;
//   border-radius: 5px;
// }

blockquote p {
  line-height: 1.6;
}

.blockquote-footer {
  margin-top: 0;
}

.table {
  color: #707a88;
}

a {
  text-decoration: none;
}



/////////porse
.prose {
  color: rgba(0, 0, 0, .59) ;
  margin-top: 2rem;
  max-width: auto;
  font-family: "Roboto", sans-serif;
  background-color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,p {
    margin: 10px 0;
  }

  code {
    background-color: #2d2d2d;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
  }

  table {
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  table,
  th,
  td {
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
  }

  th,
  td {
    padding: 0.3rem;
  }

  th {
    background-color: #d2d9e4;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }

  blockquote {
    padding: 20px 20px;
    margin: 20px 0px;
    background: #f8fbff;
    border-left: solid 3px #1e5dd3;
    border-radius: 5px;
    font-weight: 500;
    font-style: italic;
  }
  em{
    font-style: italic;
  }
  .info {
    padding: 20px 20px;
    margin: 0 0 20px;
    background: #f8fbff;
    border-left: solid 3px #1e5dd3;
    border-radius: 5px;
    font-weight: 500;
    // font-style: italic;
  }

  pre {
    //display: block; 
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #2d2d2d;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
  }

  dt {
    font-weight: bold;
  }

  .footnotes {
    -moz-column-count: 2;
    column-count: 2;

    ol {
      list-style-type: decimal;
    }

    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }
  }
  img{
   // margin:auto;
  }
}


// .prose {
//     color: #6b7b94;;
//     max-width: 65ch;
//     font-family: "Roboto", sans-serif;
//     background-color: white;
// }

// // .prose [class~="lead"] {
// //     color: red;
// //     font-size: 1.25em;
// //     line-height: 1.6;
// //     margin-top: 1.2em;
// //     margin-bottom: 1.2em;
// // }

// .prose a {
//     position: relative;
//     color:#1e5dd3;
//     text-decoration: none;
// }

// .prose a::before {
//     content: "";
//     position: absolute;
//     bottom: -0.3em;
//     left: 0;
//     right: 0;
//     height: 3px;
//     width: 100%;
//     pointer-events: none;
// }

// .prose a:hover::before,
// .prose a:focus::before {
//     transform: scaleX(0.95);
// }

// .prose strong {
//     font-weight: 600;
// }

// .prose ol {
//     margin-top: 1.25em;
//     margin-bottom: 1.25em;
// }

// .prose ol > li {
//     position: relative;
//     padding-left: 1.75em;
// }

// // .prose ol > li::before {
// //     content: counter(list-counter) ".";
// //     position: absolute;
// //     font-weight: 400;
// //     color: red;
// //     display: none;
// // }

// .prose ul > li {
//     position: relative;
//     padding-left: 1.75em;
// }

// // .prose ul > li::before {
// //     content: "";
// //     position: absolute;
// //     background-color: red;
// //     border-radius: 50%;
// //     width: 0.375em;
// //     height: 0.375em;
// //     top: calc(0.875em - 0.1875em);
// //     left: 0.25em;
// // }

// .prose hr {
//     border-color: #cccdce;
//     border-top-width: 1px;
//     margin-top: 3em;
//     margin-bottom: 3em;
// }

// .prose blockquote {
//   //   font-weight: 500;
//   //   font-style: italic;
//   //   color: #1a202c;
//   //   border-left-width: 5px;
//   //   border-left-color: #6b7b94;
//   //  // quotes: "\201C""\201D""\2018""\2019";
//   //   margin-top: 1.6em;
//   //   margin-bottom: 1.6em;
//   //   padding-left: 1em;
//   padding: 20px 20px;
//   margin: 0 0 20px;
//   background: #f8fbff;
//   border-left: solid 3px #1a202c;
//   border-radius: 5px;
//   font-weight: 500;
//   font-style: italic;

// }

// .prose blockquote p:first-of-type::before {
//     content: open-quote;
// }

// .prose blockquote p:last-of-type::after {
//     content: close-quote;
// }

// .prose h1 {
//     font-weight: 800;
//     font-size: 2.25em;
//     margin-top: 0;
//     margin-bottom: 0.8888889em;
//     line-height: 1.1111111;
// }

// .prose h2 {
//     font-weight: 700;
//     font-size: 1.5em;
//     margin-top: 2em;
//     margin-bottom: 1em;
//     line-height: 1.3333333;
// }

// .prose h3 {
//     font-weight: 600;
//     font-size: 1.25em;
//     margin-top: 1.6em;
//     margin-bottom: 0.6em;
//     line-height: 1.6;
// }

// .prose h4 {
//     font-weight: 600;
//     margin-top: 1.5em;
//     margin-bottom: 0.5em;
//     line-height: 1.5;
// }

// .prose figure figcaption {
//     color: red;
//     font-size: 0.875em;
//     line-height: 1.4285714;
//     margin-top: 0.8571429em;
// }

// .prose code {
//     //color: red;
//     font-weight: 600;
//     font-size: 0.875em;
// }

// .prose code::before {
//     content: "`";
// }

// .prose code::after {
//     content: "`";
// }
// .prose > iframe,
// audio,
// video,
// img {
// //  width: 100%;
//   max-width: 100%;
//  // margin-top: 1rem;
// }


// .prose pre {
//    // color: red;
//     //background-color: red;
//     overflow-x: auto;
//     font-size: 0.875em;
//     line-height: 1.7142857;
//     margin-top: 1.7142857em;
//     margin-bottom: 1.7142857em;
//     border-radius: 0.375rem;
//     padding-top: 0.8571429em;
//     padding-right: 1.1428571em;
//     padding-bottom: 0.8571429em;
//     padding-left: 1.1428571em;
// }
// .prose code{
//   background-color: rgb(187, 195, 228);
//   border-width: 0;
//   border-radius: 0;
//   padding: 0;
//   font-weight: 400;
//   color: inherit;
//   font-size: inherit;
//   font-family: inherit;
//   line-height: inherit;
// }

// .prose pre code {
//     background-color: transparent;
//     border-width: 0;
//     border-radius: 0;
//     padding: 0;
//     font-weight: 400;
//     color: inherit;
//     font-size: inherit;
//     font-family: inherit;
//     line-height: inherit;
// }

// .prose pre code::before {
//     content: "";
// }

// .prose pre code::after {
//     content: "";
// }

// .prose table {
//     width: 100%;
//     table-layout: auto;
//     text-align: left;
//     margin-top: 2em;
//     margin-bottom: 2em;
//     font-size: 0.875em;
//     line-height: 1.7142857;
// }

// .prose thead {
//     color: #1a202c;
//     font-weight: 600;
//     border-bottom-width: 1px;
//     border-bottom-color:red;
// }

// .prose thead th {
//     vertical-align: bottom;
//     padding-right: 0.5714286em;
//     padding-bottom: 0.5714286em;
//     padding-left: 0.5714286em;
// }

// .prose tbody tr {
//     border-bottom-width: 1px;
//     border-bottom-color: red;
// }

// .prose tbody tr:last-child {
//     border-bottom-width: 0;
// }

// .prose tbody td {
//     vertical-align: top;
//     padding-top: 0.5714286em;
//     padding-right: 0.5714286em;
//     padding-bottom: 0.5714286em;
//     padding-left: 0.5714286em;
// }

// .prose {
//     font-size: 1rem;
//     line-height: 1.75;
// }

// .prose p {
//     margin-top: 1.25em;
//     margin-bottom: 1.25em;
// }

// .prose img {
//     margin-top: 2em;
//     margin-bottom: 2em;
// }

// .prose video {
//     margin-top: 2em;
//     margin-bottom: 2em;
// }

// .prose figure {
//     margin-top: 2em;
//     margin-bottom: 2em;
// }

// .prose figure > * {
//     margin-top: 0;
//     margin-bottom: 0;
// }

// .prose h2 code {
//     font-size: 0.875em;
// }

// .prose h3 code {
//     font-size: 0.9em;
// }

// .prose ul {
//     margin-top: 1.25em;
//     margin-bottom: 1.25em;
// }

// .prose li {
//     margin-top: 0.5em;
//     margin-bottom: 0.5em;
// }

// .prose ol > li:before {
//     left: 0;
// }

// .prose > ul > li p {
//     margin-top: 0.75em;
//     margin-bottom: 0.75em;
// }

// .prose > ul > li > *:first-child {
//     margin-top: 1.25em;
// }

// .prose > ul > li > *:last-child {
//     margin-bottom: 1.25em;
// }

// .prose > ol > li > *:first-child {
//     margin-top: 1.25em;
// }

// .prose > ol > li > *:last-child {
//     margin-bottom: 1.25em;
// }

// .prose ul ul,
// .prose ul ol,
// .prose ol ul,
// .prose ol ol {
//     margin-top: 0.75em;
//     margin-bottom: 0.75em;
// }

// .prose hr + * {
//     margin-top: 0;
// }

// .prose h2 + * {
//     margin-top: 0;
// }

// .prose h3 + * {
//     margin-top: 0;
// }

// .prose h4 + * {
//     margin-top: 0;
// }

// .prose thead th:first-child {
//     padding-left: 0;
// }

// .prose thead th:last-child {
//     padding-right: 0;
// }

// .prose tbody td:first-child {
//     padding-left: 0;
// }

// .prose tbody td:last-child {
//     padding-right: 0;
// }

// .prose > :first-child {
//     margin-top: 0;
// }

// .prose > :last-child {
//     margin-bottom: 0;
// }