.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    top: 0 ;
    width:100%;
    margin:auto;
    padding-top:5px;
    z-index:2;
    .logo{
        font-size:1rem;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        letter-spacing: normal;
        line-height: 50.4px;
        text-decoration: none solid rgb(32, 54, 86);
        text-align: start;
        text-indent: 0px;
    }
  }
  @media only screen and (max-width: 600px) {
    nav {
    //  padding-left: 5px;
    //  padding-right: 5px;
    }
  }
  