
a{
    text-decoration: none; 
}

.page {
    text-transform: uppercase;
    display: inline-block;
    background-color: #1e5dd3;
    font-weight: 400;
    border-radius: 5px;
    border: 1.8px solid #1e5dd3;
    color: #ffffff;
    padding: .5rem;
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 15px;
    cursor: pointer;
    transition: box-shadow .3s;
    font-family: 'Poppins', sans-serif;
    &:hover {
        background-color: #fff;
        color: #1e5dd3;
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    }

}
@media only screen and (max-width: 600px) {
    .page{
        border: 1px solid #1e5dd3; 
        font-size: 0.8rem;
        padding: .5rem;
        margin-top: 1rem;
    }
}